##### APP
WEBSITES=~/www
INTEGRATOR=

##### Logstash
ELASTICSEARCH_HOST=elasticsearch
ELASTICSEARCH_PORT=9200

##### MySQL
MYSQL_ROOT_PASSWORD=
MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_DATABASE=

##### Nginx

##### PHP
CHANGE_INSTANCE_CONFIG_FILENAME=project.local.json
PHP_IDE_CONFIG=serverName=proximis
XDEBUG_CONFIG=remote_host= idekey=PHPSTORM remote_port=9001 remote_enable=1 remote_connect_back=0
